<div class="message">
    <img src="/src/users-previews/" alt="">
    <div class="text">
        <div class="title">
            <div class="name"></div>
            <div class="public-time"></div>
        </div>
        <div class="main-text"></div>
    </div>
</div>