<div class="wrapper">
    <div class="title">Код подтверждения.</div>
    <div class="description">Этот код нужно ввести на страницу с формой на сайте.</div>

    <div class="code"><% ApprowCode %></div>
</div>

<style>

.wrapper {
    background-color: rgb(41, 41, 41);
}

.title {
    color: white;
    font-size: 35px;
    text-align: center;
}

.description {
    color: white;
    font-size: 35px;
    text-align: center;
}

.code {
    color: white;
    font-size: 35px;
    text-align: center;
    
    background-color: rgb(53, 53, 53);
    border: solid 4px black;
    border-radius: 5px;
}

</style>