<link rel="stylesheet" href="/css/module-style/articl.css">

<div class="content">
    <div class="block">
        <div class="main-title">О проекте</div>

        <p>UnderGround - это сайт, на котором размещены мои авторские уроки по программированию. Прочитайте статью и посмотрите ролик. Вы можете оценивать содержание статей и писать комментарии в реальном времени. </p>
    </div>
</div>