<link rel="stylesheet" href="/css/module-style/articl.css">

<div class="content">
    <div class="block">
        <div class="main-title">Контакты</div>
        <p>Если у вас появятся какие либо вопросы и вы надеетесь получить обратную связь, то вы можете написать на почту - good.astrla@yandex.ru или позвонить по телефону - 89278678977</p>
    </div>
</div>