<link rel="stylesheet" href="/css/module-style/articls.css">

<div class="content">

    <div class="block">
        <div class="main-title">Топ 10 по просмотрам</div>

        <% for (articl of forViews) { %>
            <%- include("./elements/articl.ejs", articl) %>
        <% } %>
    </div>
</div>