.main-title {
    font-size: 32px;

    padding-bottom: 15px;
    margin-bottom: 15px;

    border-bottom-color: black;
    border-bottom-width: 1.5px;
    border-bottom-style: solid;
}

.sub-title {
    font-weight: bold;
    font-size: 30px;

    margin-top: 15px;
    margin-bottom: 15px;
}

p {font-size: 28px;}

.code {
    background-color: rgb(236, 236, 236);
    padding: 10px;

    font-size: 25px;
    color: rgb(73, 73, 73);

    border-left-color: black;
    border-left-width: 2px;
    border-left-style: solid;
}

.img-box {
    display: flex;
    justify-content: center;
}
.img-box img {
    width: 60%;
    height: auto;
}