.main-title {
    font-size: 32px;

    padding-bottom: 15px;
    margin-bottom: 15px;

    border-bottom-color: black;
    border-bottom-width: 1.5px;
    border-bottom-style: solid;
}

.sub-title {
    font-weight: bold;
    font-size: 30px;

    margin-top: 15px;
    margin-bottom: 15px;
}

p {font-size: 28px;}

.code {
    background-color: rgb(236, 236, 236);
    padding: 10px;

    font-size: 25px;
    color: rgb(73, 73, 73);

    border-left-color: black;
    border-left-width: 2px;
    border-left-style: solid;
}

.img-box {
    display: flex;
    justify-content: center;
}
.img-box img {
    width: 60%;
    height: auto;
}



.com-title {
    font-weight: bold;
    font-size: 30px;

    padding-bottom: 15px;
    margin-bottom: 15px;

    border-bottom-color: black;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.all-comment {
    background-color: rgb(219, 219, 219);
    overflow-y: scroll;

    width: auto;
    height: 300px; 
    
    padding: 15px;
}
.all-comment::-webkit-scrollbar {width: 0;}


.comment {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
}
.com-name {
    font-size: 28px;
    font-weight: bold;
}
.com-text {
    margin-top: 8px;
    font-size: 22px;
}


.make-comment {
    background-color: rgb(219, 219, 219);

    margin-top: 15px;
    padding: 15px;
}
.make-comment input {
    height: auto;
    max-width: 100%;
    min-width: 60%;
    width: auto;

    padding: 10px;
    font-size: 25px;
    border: none;
}
.make-comment button {
    transition: 0.5s;
    border: none;
    padding: 10px;
    margin-top: 15px;

    font-size: 25px;
    height: auto;
}
.make-comment button:hover {
    transition: 0.5s;
    background-color: rgb(107, 107, 107);
}
.make-comment button:active {
    transition: 0s;
    background-color: rgb(255, 255, 255);
}


@media screen and (max-width: 800px) {
    .main-title {font-size: 22px;}
    .sub-title {font-size: 20px;}
    p {font-size: 18px;}
    .code {font-size: 15px;}
    .com-title {font-size: 20px;}
    .com-name {font-size: 18px;}
    .com-text {font-size: 12px;}
    .make-comment input {font-size: 15px;}
    .make-comment button {font-size: 15px;}
}