<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main-style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/adapt.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {% block import %}{% endblock %}
    </head>
    <body>

        <script>
            function AnimMenuButton(x) {
                x.classList.toggle("change");

                var bar = document.querySelector(".bar");
                bar.classList.toggle("unshow");
            }
        </script>

        <div id="wrapper">

            <header>
                <div class="title">UnderGround</div>
                <div class="container" onclick="AnimMenuButton(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                  </div>
                <button>Поиск</button>
                <input placeholder="Введите ваш запрос" type="text">
            </header>

            <div class="row">

                <div class="content">
                    <div class="inner-content">

                        {% block content %}{% endblock %}
                            
                    </div>

                    <div class="comments">{% block comments %}{% endblock %}</div>
                </div>

                <div class="bar unshow">
                    <div class="inner-bar">
                        <div class="bar-title">Навигация</div>                            <div class="bar-item-list">
                        <a href="http://localhost:8080" class="bar-item">Главная</a>
                        <a href="http://localhost:8080/articls" class="bar-item">Статьи</a>
                        <a href="http://localhost:8080/profile" class="bar-item">Профиль</a>
                        <a href="http://localhost:8080/about-us" class="bar-item">О нас</a>
                        <a href="http://localhost:8080/contacts" class="bar-item">Наши контакты</a>                        </div>
                    </div>
                </div>

            </div>

            <footer>
            
            </footer>

        </div>

    </body>
</html>