<div class="slider">
    <div class="slides">
        <img src="/src/articl-data/hello.jpg" alt="" class="slide">
    </div>
    <div class="buttons">
        <div class="dot" onclick="setSlide(0)"></div>
    </div>
</div>