{% extends "pattern/register-PageType.html" %}

{% block title %}Регистрация{% endblock %}

{% block import %}
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}

{% block content %}

<div class="title">Вход</div>
    <div class="description">Введите логин и пароль, чтобы войти в ваш аккаунт.</div>

    <div class="error"></div>
                
    <div id="inputs">
        <input type="text" class="input-login" placeholder="Введите логин">
        <input type="password" class="input-password" placeholder="Введите пароль">

        <button onclick="EnterData();">Продолжить</button>
    </div>

{% endblock %}